:root {
	box-sizing: border-box;
	font-size: 16px;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #fff;
	/* margin: 0 auto; */
}

.intro {
	background-image: url(./Assets/home.jpg);
	width: 100%;
	/* border: 2px solid red; */
}
.intro_container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	color: #fff;
	width: 90%;
	/* border: 2px solid blue; */
}
.home__message,
.learn {
	margin: 5rem 0;
}
.home__message {
	margin-bottom: 2rem;
}
.intro__nav {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin-top: 2.5rem;
	padding: 0 2.5rem;
	font-size: 1.3rem;
}

.intro__nav li {
	padding: 2rem 2rem;
}
.intro__nav li a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
.home__message {
	padding: 2rem 1rem;
	width: 45%;
}
.home__message p {
	line-height: 4rem;
	font-size: 3rem;
	letter-spacing: 2px;
}

.home__message p span {
	font-weight: bold;
}

.learn {
	display: flex;
	padding: 1rem 0;
	width: 30%;
	justify-content: space-between;
	/* border: 2px solid yellow; */
}

.learn__more {
	/* border: 2px solid red; */
	padding: 0.5rem 1rem;
}
.learn__more a {
	text-decoration: none;
	display: block;
	/* border: 2px solid yellow; */
}
.learn__more a button {
	padding: 0.8rem 0.5rem;
	background-color: #2d7fc0;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	border: 1px solid #2d7fc0;
}
.learn__phrase {
	width: 50%;
	padding: 0.5rem 0;
	/* border: 2px solid red; */
}

/* mission styles */
.mission {
	display: flex;
	flex-flow: row;
}
.mission__img {
	width: 45%;
}
.mission__img img {
	max-width: 100%;
}
.mission__statement {
	width: 50%;
}
.mission__statement > div {
	width: 90%;
	text-align: justify;
	padding: 4rem;
	margin-top: 2rem;
	margin-left: 144px;
}

.mission__statement > div > h1,
.mission__link a {
	color: #2d7fc0;
	text-decoration: none;
}

.mission__statement > div > h1,
.statement p {
	padding: 1.5rem 4rem;
}

/* services style */

.service {
	display: flex;
	/* flex-flow: row nowrap; */
	justify-content: space-between;
	padding: 3rem 2rem;
	padding-right: 0;
	width: 90%;
	margin: 0 auto;
}

.service__statement,
.service__group {
	flex: 45%;
}

.service__statement {
	align-self: center;
}

.service__statement > div {
	width: 40%;
	padding: 0.5rem;
}

.service__statement > div > h2,
.service__one__statement > h3,
.service__two__statement > h3 {
	padding: 1rem 0;
	font-size: 2rem;
	font-weight: normal;
	color: #2d7fc0;
}
.service__group {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.service__one,
.service__two {
	width: 49%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 1rem;
}
.img--container img {
	max-width: 100%;
}
/* partners */

.partners,
.clients {
	display: flex;
	flex-flow: column wrap;
	background: #fafafa;
	width: 100%;
}

.partners p,
.clients h2 {
	text-align: center;
	padding-top: 1rem;
}
.partners p > a,
.clients h2 {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 36px;
	color: #9a8d8d;
}

.partners > div,
.clients__images {
	display: flex;
	justify-content: space-around;
	padding-bottom: 2rem;
}

.partners > div img:last-child {
	filter: invert(0.5);
	padding-bottom: 10px;
}

/* contact styles */
.contact {
	max-width: 1638px;
	max-height: 574px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 3rem 0;
}

.contact__address h2,
.shop h2 {
	line-height: 72px;
	font-weight: normal;
	font-size: 2rem;
	color: #2d7fc0;
	padding: 1rem;
}

.contact__address p {
	padding: 0.5rem 2.7rem;
	opacity: 0.9;
	position: relative;
	/* color: red; */
}
.contact__address > p:nth-of-type(1) {
	width: 70%;
}
.contact__address > p:nth-of-type(1)::before {
	content: "";
	background-image: url(./Assets/map.svg);
	height: 20px;
	width: 17px;
	background-size: contain;
	position: absolute;
	left: 16px;
	top: 10px;
}

.contact__address > p:nth-of-type(2)::before {
	content: "";
	background-image: url(./Assets/phone.svg);
	height: 20px;
	width: 17px;
	background-size: contain;
	position: absolute;
	left: 17.5px;
	top: 8px;
}

.contact__address > p:nth-of-type(3)::before {
	content: "";
	background-image: url(./Assets/calendar.svg);
	height: 20px;
	width: 17px;
	background-size: contain;
	position: absolute;
	left: 16px;
	top: 8px;
}

.contact__address > p:nth-of-type(4)::before {
	content: "";
	background-image: url(./Assets/email.svg);
	height: 12px;
	width: 17px;
	background-size: contain;
	position: absolute;
	left: 16px;
	top: 13px;
}
.contact__address > p:last-child {
	text-decoration: underline;
	padding-bottom: 2px;
	/* border: 1px solid red; */
}

.contact__address a {
	text-decoration: none;
	cursor: pointer;
	color: currentColor;
}

.contact__form {
	/* border: 2px solid red; */
	width: 40%;
	margin-top: 1rem;
}

.contact__form > form,
.social__form > form {
	display: flex;
	flex-direction: column;
	/* border: 2px solid red; */
}

.contact__form > form input {
	border: none;
	border-bottom: 1px solid #000;
	padding: 1rem 0 0.5rem 0.5rem;
	width: 100%;
	background-color: transparent;
	outline: none;
}

.contact__form form > button,
.view--more {
	width: 20%;
	background-color: #2d7fc0;
	padding: 1rem 2rem;
	text-align: center;
	margin: 2rem 0;
	color: #fff;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.contact__form form input:nth-of-type(n)::placeholder {
	padding-left: 1.2rem;
}
.contact__form form label {
	display: none;
}

.name {
	position: relative;
}
.name::after {
	content: "";
	background-image: url(./Assets/name.jpg);
	background-size: contain;
	width: 17px;
	height: 15px;
	position: absolute;
	left: 2px;
	top: 17px;
}

.contact__form form span:nth-of-type(2):after {
	background-image: url(./Assets/email.jpg);
	height: 13px;
	width: 17px;
	top: 18px;
}
.contact__form form span:nth-of-type(3):after {
	background-image: url(./Assets/phone.jpg);
	width: 14px;
	height: 15px;
	top: 17px;
	left: 5px;
}

.contact__form form span:nth-of-type(4):after {
	background-image: url(./Assets/message.jpg);
	width: 13px;
	height: 13px;
	top: 20px;
	left: 5px;
}

/* clients styles */
.clients__images img {
	width: 200px;
}

/* shops */

.shop {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}
.shop__orders {
	display: flex;
	padding: 1rem 0;
	width: 100%;
}

.shop__order {
	width: 22%;
	box-shadow: 0px 4px 4px rgba(175, 172, 172, 0.46);
}
.img--cont img {
	max-width: 100%;
}

.shop__orders > div:not(:last-child) {
	margin-right: 4%;
}
.shop > h2 {
	padding-bottom: 0rem;
	line-height: 65px;
}
.shop > p {
	width: 20%;
	text-align: center;
	padding-bottom: 2rem;
}

.shop__content {
	padding: 0 1.2rem;
}
.shop__content p:nth-of-type(1) {
	padding-bottom: 0.4rem;
}

.shop__content p:nth-of-type(2) {
	font-weight: bold;
}

.shop__btn {
	text-align: center;
	padding: 1rem;
}

.shop__btn button:first-child {
	width: 57%;
	margin-right: 2px;
	color: #fff;
	background-color: #2d7fc0;
	border: none;
}
.shop__btn button:last-child {
	width: 40%;
	font-size: 0.75rem;
	color: #2d7fc0;
	background-color: #fff;
}
.shop__btn button {
	padding: 0.8rem;
	cursor: pointer;
	border: 1px solid #2d7fc0;
}

.view--more {
	outline: none;
}
/* footer styles */
footer {
	background-image: url(./Assets/footer-2.jpg);
}
.footer {
	color: #fff;
	display: flex;
	justify-content: space-between;
	width: 90%;
	padding: 3rem 0;
	margin: 0 auto;
}

.social {
	display: flex;
	flex-flow: column wrap;
}

.social__tags img {
	height: 40px;
	width: 30px;
	display: inline-block;
}

.social__statement {
	width: 51%;
	padding: 1rem 0;
}

.social__tags {
	margin: 2rem 0;
}

.social__tags a {
	margin-right: 1rem;
	padding: 0 0.5rem;
	display: inline-block;
}
.social__tags a:first-child {
	padding-left: 0;
}

.social__links {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.social__links p {
	flex: 100%;
}
.social__links p a {
	color: #fff;
	text-decoration: none;
}

.social__form form {
	position: relative;
}
.social__form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.social__form form input {
	border: none;
	border-bottom: 2px solid #fff;
	outline: none;
	background-color: transparent;
	width: 312px;
	padding: 0.5rem;
	margin-bottom: 1rem;
	/* border: 2px solid red; */
}
.social__form form label {
	display: none;
}

.social__form form input::placeholder {
	color: #fff;
	font-size: 1rem;
	opacity: 0.5;
	padding-left: 1rem;
}

.social__form form span::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 3px;
	background-image: url(./Assets/email.svg);
	background-size: contain;
	width: 18px;
	height: 12px;
}
.footer__contact {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.link > a {
	text-decoration: none;
	color: #fff;
}
.footer__contact p {
	width: 60%;
	padding: 0.5rem;
	padding-left: 4.5rem;
	position: relative;
}

.footer__contact > p:nth-of-type(1)::before,
.footer__contact > p:nth-of-type(2)::before,
.footer__contact > p:nth-of-type(3)::before,
.footer__contact > p:nth-of-type(4)::before {
	content: "";
	position: absolute;
	left: 50px;
	top: 10px;
	background-image: url(./Assets/map.svg);
	background-size: contain;
	height: 18px;
	width: 15px;
}
.footer__contact > p:nth-of-type(2)::before {
	background-image: url(./Assets/calendar.svg);
	height: 16px;
}

.footer__contact > p:nth-of-type(3)::before {
	background-image: url(./Assets/phone.svg);
	height: 16px;
}

.footer__contact > p:nth-of-type(4)::before {
	background-image: url(./Assets/email.svg);
	background-size: contain;
	width: 17px;
	height: 12px;
	top: 14px;
}
.social--link a {
	text-decoration: none;
	color: #fff;
	text-decoration: underline;
}

.footer__copyright {
	width: 52%;
	margin-top: 5rem;
}
