:root {
	box-sizing: border-box;
	font-size: 16px;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #fafafa;
}
.home {
	max-width: 1920px;
	max-height: 1080px;
	background-image: url(./Assets/home.jpg);
}
